<div class="reg-modal-wrap">
    <div class="reg-container">
        <p><span>Register</span> and become part of the family!</p>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="name">Name:</label>
            <input name="name" type="name" placeholder="type here.." formControlName="name" />
            <app-form-control-error [form-control]="registerForm.get('name')"></app-form-control-error>

            <label for="email">Email:</label>
            <input name="email" type="email" placeholder="type here.." formControlName="email" />
            <app-form-control-error [form-control]="registerForm.get('email')"></app-form-control-error>

            <label for="password">Password:</label>
            <input name="password" type="password" placeholder="type here.." formControlName="password" />
            <app-form-control-error [form-control]="registerForm.get('password')"></app-form-control-error>

            <label for="confirmPassword">Confirm Password:</label>
            <input name="confirmPassword" type="password" placeholder="type here.." formControlName="confirmPassword" />
            <app-form-control-error [form-control]="registerForm.get('confirmPassword')"></app-form-control-error>

            <div class="select-block">
                <label for="gender" id="gender-label">Gender:</label>
                <select name="gender" formControlName="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
                <app-form-control-error [form-control]="registerForm.get('gender')"></app-form-control-error>
            </div>

            <div class="date-container">
                <label for="date">Date:</label>
                <input name="date" type="date" formControlName="dateOfBirth" class="date-input" />
                <app-form-control-error [form-control]="registerForm.get('dateOfBirth')"></app-form-control-error>
            </div>

            <label for="height">Height:</label>
            <input name="height" type="number" placeholder="type here.." formControlName="height" />
            <app-form-control-error [form-control]="registerForm.get('height')"></app-form-control-error>

            <div class="reg-btn-wrap">
                <button type="button" class="cancel-button" (click)="closeModal(false)">
          Cancel
        </button>
                <button type="submit" class="reg-btn">Register</button>
            </div>

        </form>
    </div>
</div>