@import '../../../../../../assets/variables.scss';
.msh-photo-container {
    width: 45rem;
    max-height: 45rem;
    img {
        width: 100%;
    }
    button {
        padding: 0.8rem 2.5rem;
        border: none;
        border-radius: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: $pink;
        color: white;
        font-size: 1rem;
        letter-spacing: 1px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
}