<div *ngIf="getErrorStatus('required')" class="error-msg">
    This field is reqired!
</div>
<div *ngIf="getErrorStatus('minlength')" class="error-msg">
    Password must contain at least 6 characters!
</div>
<div *ngIf="getErrorStatus('email')" class="error-msg">
    Please provide valid email!
</div>
<div *ngIf="getErrorStatus('mis-match')" class="error-msg">
    Passwords do not match!
</div>
<div *ngIf="getErrorStatus('min')" class="error-msg">
    Value too low!
</div>
<div *ngIf="getErrorStatus('max')" class="error-msg">
    Value too high!
</div>