@import "../../../../assets/variables.scss";
@import "../../../styles/forms.scss";
.page-container {
  width: 98%;
  height: 100%;
  margin-left: 2vw;
  overflow: hidden;
  position: relative;
  .profile-wrap {
    width: calc(100% - 16rem);
    height: 80%;
    background-color: $purple;
    position: absolute;
    top: 6rem;
    left: -35rem;
    transform: skewX(-45deg);
    z-index: 2;
    .revert {
      position: relative;
      width: 95%;
      transform: skewX(45deg);
      right: calc(-5% - 10rem);
      .profile-top {
        margin: 0 5%;
        width: 90%;
        display: flex;
        justify-content: flex-end;
        .material-icons {
          font-size: 2rem;
          margin-right: 2rem;
          margin-top: 0.6rem;
          color: white;
          &:hover{
            cursor: pointer;
          }
        }
      }
      .user-name {
        font-size: 8em;
        line-height: 1;
        font-weight: 100;
        letter-spacing: 1px;
        margin-top: 7rem;
        color: white;
      }
      .profile-bottom {
        position: absolute;
        width: 80%;
        margin-top: 4rem;
        p {
          margin-bottom: 4rem;
          margin-left: 5rem;
          font-size: 2em;
          color: white;
          span {
            font-size: 1em;
            letter-spacing: 1px;
            font-style: italic;
            color: white;
            margin-right: 1em;
          }
        }
      }
    }
  }
  .pages-wrap {
    height: 80%;
    position: absolute;
    top: 6rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      right: 2rem;
      bottom: -17rem;
      margin: 0;
      width: calc(100% + 18rem);
      font-size: 65px;
      text-transform: uppercase;
      font-weight: 100;
      color: white;
      letter-spacing: 1px;
      &:hover {
        cursor: pointer;
      }
    }
    .top-container {
      background-color: $light-blue;
      height: 0rem;
      width: 14rem;
      margin-bottom: 2.5vh;
      border-left: 20rem solid white;
      border-bottom: 20rem solid transparent;
      transition: all 0.3s;
      position: relative;
      &:hover {
        transform: translateX(-5px) scale(1.02);
        cursor: pointer;
      }
    }
    .middle-container {
      position: relative;
      background-color: $beige;
      height: 0rem;
      width: 35rem;
      margin-bottom: 2.5rem;
      border-left: 20rem solid white;
      border-bottom: 20rem solid transparent;
      transition: all 0.3s;
      &:hover {
        transform: translateX(-5px) scale(1.02);
        cursor: pointer;
      }
    }
    .bottom-container {
      position: relative;
      background-color: $pink;
      height: 0rem;
      width: 57rem;
      margin-bottom: 4vh;
      border-left: 20rem solid white;
      border-bottom: 20rem solid transparent;
      transition: all 0.3s;
      &:hover {
        transform: translateX(-5px) scale(1.02);
        cursor: pointer;
      }
    }
  }
}
