<app-header></app-header>
<div class="page-container">
  <div class="profile-wrap">
    <div class="revert">
      <div class="profile-top">
        <mat-icon color="primary" (click)="openProfileEditor()" class="material-icons">settings</mat-icon>
      </div>

      <p class="user-name">{{ user?.name }}</p>

      <div class="profile-bottom">
        <p><span>Email:</span>{{ user?.email }}</p>
        <p><span>Gender:</span>{{ user?.gender }}</p>
        <p><span>Birthday:</span>{{ user?.dateOfBirth }}</p>
        <p><span>Height:</span>{{ user?.height }}</p>
      </div>
    </div>
  </div>

  <div class="pages-wrap">
    <div class="top-container" [routerLink]="['/exercises']">
      <p>Exercises</p>
    </div>
    <div class="middle-container" [routerLink]="['/workouts']">
      <p>workouts</p>
    </div>
    <div class="bottom-container" [routerLink]="['/measurements']">
      <p>Measurements</p>
    </div>
  </div>
</div>
