@import "../../../../assets/variables.scss";

.header {
  background-color: $blue;
  color: white;
  display: flex;
  align-items: center;

  span {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-left: 1.5vw;
  }

  a {
    font-size: 1rem;
    margin-left: 2rem;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .admin-button,
  .logOut-btn {
    padding: 0.5vh 1.5vw;
    margin-right: 1.5vw;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    letter-spacing: 1px;
    color: white;
    background-color: $pink;
    &:hover {
      cursor: pointer;
      padding: 0.5vh 1.7vw;
    }
  }
}
