<mat-toolbar class="header">
  <span>Shape Shifter</span>

  <div class="spacer"></div>

  <button *ngIf="isBtnDisplayed()" [routerLink]="'/admin'" class="admin-button">
    Admin
  </button>
  <button mat-button (click)="onLogout()" class="logOut-btn">Logout</button>
</mat-toolbar>
