@import '../../../../../assets/variables.scss';
@import '../../../../styles/forms.scss';

.profile-modal-wrap{
  width: 32rem;
  min-height: 30rem;
  border-radius: 1rem;
background-color: $light-blue;

  .profile-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
      font-size: 1.5rem;
      letter-spacing: 1px;
      margin-left: 1.5rem;
      margin-bottom: 2.5rem;
      padding-top: 2.5rem;
      color: white;
      span {
        color: $purple;
        font-weight: bold;
      }
    }

    label,
    input {
      display: block;
      margin-left: 1.5rem;
      margin-bottom: 1.2vh;
      font-size: 1.1rem;
    }

    .select-block {
      margin-top: 1.5vh;
      margin-bottom: 0.5vh;
      margin-left: 1.5rem;

      #gender-label {
        margin-right: 1vw;
      }

      select {
        padding: 0.6vh 2.5vw;
        border: none;
        border-radius: 1rem;
      }

      option {
        font-size: 1rem;
      }
    }

    .date-container {
      margin-top: 1.5rem;
    
      .date-input {
        padding: 0.6vh 1.2vw;
        font-size: 0.8rem;
      }
    }

    .profile-btn-wrap {
      width: 100%;
      display: flex;
      margin-left: 1.5rem;
      margin-top: 3vh;
      margin-bottom: 1vh;
      justify-content: space-between;

      .cancel-button {
        padding: 0.6rem 2.5rem;
        border: none;
        border-radius: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
        border: 2px solid $blue;
        color: $blue;
        background-color: white;

        &:hover {
          cursor: pointer;
        }
      }
      .reg-btn {
        padding: 0.6rem 2.5rem;
        border: 2px solid $purple;
        border-radius: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
        color: $purple;
        background-color: white;

        &:hover {
          cursor: pointer;
        }
      }
    }

  }
}