<div class="profile-modal-wrap">
  <div class="profile-container">
    <p><span>Edit</span> your profile!</p>
    <form [formGroup]="profileForm" (ngSubmit)="submitUserUpdate()">
      <label for="name">Name:</label>
      <input
        name="name"
        type="text"
        placeholder="type here.."
        formControlName="name"
      />
      <app-form-control-error
        [form-control] ="profileForm.get('name')"
      ></app-form-control-error>

      <label for="email">Email:</label>
      <input
        name="email"
        type="email"
        placeholder="type here.."
        formControlName="email"
      />
      <app-form-control-error
        [form-control]="profileForm.get('email')"
      ></app-form-control-error>

      <label for="password">New Password:</label>
      <input
        name="password"
        type="password"
        placeholder="type here.."
        formControlName="password"
      />
      <app-form-control-error
        [form-control]="profileForm.get('password')"
      ></app-form-control-error>

      <label for="confirmPassword">Confirm Password:</label>
      <input
        name="confirmPassword"
        type="password"
        placeholder="type here.."
        formControlName="confirmPassword"
      />
      <app-form-control-error
        [form-control]="profileForm.get('confirmPassword')"
      ></app-form-control-error>

      <div class="select-block">
        <label for="gender" id="gender-label">Gender:</label>
        <select name="gender" formControlName="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <app-form-control-error
          [form-control]="profileForm.get('gender')"
        ></app-form-control-error>
      </div>

      <div class="date-container">
        <label for="date">Date:</label>
        <input
          name="date"
          type="date"
          formControlName="dateOfBirth"
          class="date-input"
        />
        <app-form-control-error
          [form-control]="profileForm.get('dateOfBirth')"
        ></app-form-control-error>
      </div>

      <label for="height">Height:</label>
      <input
        name="height"
        type="number"
        placeholder="type here.."
        formControlName="height"
      />
      <app-form-control-error
        [form-control]="profileForm.get('height')"
      ></app-form-control-error>

      <div class="profile-btn-wrap">
        <button type="button" class="cancel-button" (click)="closeModal(false)">
          Cancel
        </button>
        <button type="submit" class="reg-btn">Edit</button>
      </div>
    </form>
  </div>
</div>
