@import "../../../../../assets/variables.scss";
@import "../../../../styles/forms.scss";

.msh-modal-wrap {
  width: 32rem;
  min-height: 30rem;
  border-radius: 1rem;
  background-color: $light-blue;

  .msh-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p {
      font-size: 1.5rem;
      letter-spacing: 1px;
      margin-left: 1.5rem;
      margin-bottom: 2.5rem;
      padding-top: 2.5rem;
      color: white;

      span {
        color: $purple;
        font-weight: bold;
      }
    }
    .loadingImage {
      font-size: 4rem;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      margin-left: 4rem;
      margin-top: 4rem;
    }
    .photoForm {
      margin-left: 0rem;
      .msh-img {
        margin-left: -3.5rem;
      }
      &:focus {
        border: none;
      }
    }
    .previewImg {
      width: 80%;
      height: 15rem;
      margin-left: 1.5rem;
      border-radius: 1rem;
    }
    label,
    input {
      display: block;
      margin-left: 1.5rem;
      margin-bottom: 1.2vh;
      font-size: 1.1rem;
      &:focus {
        border: none;
        outline: none;
      }
    }
    .date-container {
      margin-top: 1.5rem;
      .date-input {
        padding: 0.6vh 1.2vw;
        font-size: 0.8rem;
      }
    }
    .msh-btn-wrap {
      width: 90%;
      display: flex;
      margin-left: 1.1rem;
      margin-top: 3vh;
      margin-bottom: 1vh;
      justify-content: space-between;
      
      .cancel-button {
        padding: 0.6rem 2.5rem;
        border: none;
        border-radius: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
        border: 2px solid $blue;
        color: $blue;
        background-color: white;
        &:hover {
          cursor: pointer;
        }
      }
      .create-btn {
        padding: 0.6rem 2.5rem;
        border: 2px solid $purple;
        border-radius: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 1px;
        color: $purple;
        background-color: white;
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}
