<div class="msh-modal-wrap">
  <div class="msh-container">
    <p>
      <span>{{ data?._id ? "Edit" : "Add" }}</span> your measurements!
    </p>
    <div class="loadingImage" *ngIf="loading">Loading...</div>
    <div *ngIf="!loading">
      <form class="photoForm" [formGroup]="photoForm">
        <input
          formControlName="file"
          type="file"
          accept="image/*"
          class="msh-img"
          (change)="onPhotoSelected($event)"
        />
      </form>

      <img class="previewImg" *ngIf="data?._id" [src]="data?.photoUrl" />

      <form [formGroup]="measurementForm" (ngSubmit)="submitMeasurement()">
        <div class="date-container">
          <label for="date">Date:</label>
          <input
            name="date"
            type="date"
            formControlName="date"
            class="date-input"
          />
          <app-form-control-error
            [form-control]="measurementForm.get('date')"
          ></app-form-control-error>
        </div>

        <label for="weight">Weight:</label>
        <input
          name="weight"
          type="number"
          placeholder="type here.."
          formControlName="weight"
        />
        <app-form-control-error
          [form-control]="measurementForm.get('weight')"
        ></app-form-control-error>

        <label for="chest">Chest:</label>
        <input
          name="chest"
          type="number"
          placeholder="type here.."
          formControlName="chest"
        />
        <app-form-control-error
          [form-control]="measurementForm.get('chest')"
        ></app-form-control-error>

        <label for="waist">Waist:</label>
        <input
          name="waist"
          type="number"
          placeholder="type here.."
          formControlName="waist"
        />
        <app-form-control-error
          [form-control]="measurementForm.get('waist')"
        ></app-form-control-error>

        <label for="hips">Hips:</label>
        <input
          name="hips"
          type="number"
          placeholder="type here.."
          formControlName="hips"
        />
        <app-form-control-error
          [form-control]="measurementForm.get('hips')"
        ></app-form-control-error>

        <label for="biceps">Biceps:</label>
        <input
          name="biceps"
          type="number"
          placeholder="type here.."
          formControlName="biceps"
        />
        <app-form-control-error
          [form-control]="measurementForm.get('biceps')"
        ></app-form-control-error>

        <div class="msh-btn-wrap">
          <button
            type="button"
            class="cancel-button"
            (click)="closeModal(false)"
          >
            Cancel
          </button>
          <button type="submit" class="create-btn">
            {{ data?._id ? "Update" : "Create" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
