<div class="big-wrap">
  <div class="small-wrap">
    <div class="first-section">
      <div class="img-container-left">
        <img
          src="../../../assets/images/landing-page-left.jpg"
          alt="img1"
          class="img-left"
        />
      </div>

      <div class="img-container-right">
        <div class="img-container-right-top">
          <img
            src="../../../assets/images/landing-page-right-1.jpg"
            alt="img2"
            class="img-right-top"
          />
        </div>
        <div class="img-container-right-bottom">
          <img
            src="../../../assets/images/landing-page-right-2.jpg"
            alt="img22"
            class="img-right-bottom"
          />
        </div>
      </div>
    </div>

    <div class="img-container-right">
      <div class="img-container-right-top">
        <div class="container-top">
          <p class="landing-title">SHAPE SHIFTER</p>

          <p class="landing-text">
            The clock is ticking. Are you becoming the person you want to be?
            Join the SS family and let us show you that the pain you feel today
            will be the strength you feel tomorrow!
          </p>
        </div>
      </div>

      <div class="img-container-right-bottom">
        <button class="login-btn" (click)="openLoginDialog()">LOGIN</button>

        <p class="minitext">
          “Things may come to those who wait, but only the things left by those
          who hustle.”- Abraham Lincoln
        </p>

        <button class="reg" (click)="openRegisterDialog()">REGISTER</button>
      </div>
    </div>
  </div>
</div>
