@import "../../../../assets/variables.scss";

.big-wrap {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .small-wrap {
    width: 80%;
    height: 80%;
    display: flex;

    .first-section {
      width: 75%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;

      .img-container-left {
        width: 50%;
        height: 100%;

        .img-left {
          width: 100%;
          height: 100%;
        }
      }

      .img-container-right {
        width: 50%;
        height: 100%;

        .img-container-right-top {
          width: 100%;
          height: 30%;

          .img-right-top {
            width: 100%;
          }
        }

        .img-container-right-bottom {
          width: 100%;
          height: 70%;

          .img-right-bottom {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .img-container-right {
      width: 50%;
      background-color: $blur-wrap;

      .img-container-right-top {
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container-top {
          width: 95%;
          height: 95%;
          border-top: 1px solid $border-darkgray;
          border-radius: 10px;

          .landing-title {
            margin-left: 2rem;
            font-size: 4rem;
            font-weight: bold;
            margin-top: 7rem;
            margin-bottom: 3rem;
            color: white;
          }

          .landing-text {
            margin: 0 2rem;
            font-size: 1rem;
            letter-spacing: 1px;
            line-height: 1.8;
            color: white;
          }
        }
      }

      .img-container-right-bottom {
        width: 95%;
        height: 54%;
        margin-left: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $border-darkgray;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .login-btn {
          padding: 2rem 9rem;
          margin-left: 2rem;
          border: none;
          border-radius: 10px;
          background-color: $bg-color;
          color: white;
          font-size: 2rem;
          font-weight: bold;

          &:hover {
            cursor: pointer;
          }
        }

        .minitext {
          margin: 2vh 3vw 1.8vh 2vw;
          font-size: 1em;
          letter-spacing: 1px;
          line-height: 1.8;
          color: white;
        }

        .reg {
          padding: 2rem 7rem;
          margin-left: 2rem;
          border: none;
          border-radius: 10px;
          background-color: $bg-color;
          color: white;
          font-size: 2rem;
          font-weight: bold;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
