@import "../../../../../styles/forms.scss";
@import "../../../../../../assets/variables.scss";
.modal-big-wrap {
    width: 35rem;
    min-height: 25rem;
    border-radius: 1rem;
    background-color: $bg-color;
    form {
        background-color: $blur-wrap;
        width: 100%;
        height: 100%;
        p {
            font-size: 3.2rem;
            font-weight: bold;
            letter-spacing: 1px;
            margin-left: 2rem;
            margin-bottom: 2.5rem;
            padding-top: 2.5rem;
            span {
                color: white;
            }
        }
        label {
            margin-left: 2rem;
        }
        input {
            margin: 1vh 2rem;
            margin-bottom: 2rem;
        }
        .btn-wrap {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .login-btn {
                margin: 1.5rem 4vw 1.5rem 0;
                padding: 0.6rem 2.5rem;
                border: 2px solid $bg-color;
                border-radius: 1rem;
                font-size: 1.2rem;
                font-weight: bold;
                letter-spacing: 1px;
                color: $bg-color;
                background-color: white;
                &:hover {
                    cursor: pointer;
                }
            }
            .cancel-btn {
                margin: 1.5rem 0 1.5rem 2rem;
                padding: 0.6rem 2.5rem;
                border: none;
                border-radius: 1rem;
                font-size: 1.2rem;
                font-weight: bold;
                letter-spacing: 1px;
                border: 2px solid $cancel-color;
                color: $cancel-color;
                background-color: white;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}