<div class="modal-big-wrap">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <p>LOG<span>IN</span></p>

    <label for="email">Email:</label> <br />
    <input
      name="email"
      type="email"
      placeholder="type here.."
      formControlName="email"
    />
    <br />
    <app-form-control-error
      [form-control]="loginForm.get('email')"
    ></app-form-control-error>
    <label for="password">Password:</label> <br />
    <input
      name="password"
      type="password"
      placeholder="type here.."
      formControlName="password"
    />
    <br />
    <app-form-control-error
      [form-control]="loginForm.get('password')"
    ></app-form-control-error>

    <span *ngIf="httpError">{{ httpError.error.message }}</span>

    <div class="btn-wrap">
      <button type="button" class="cancel-btn" (click)="closeModal()">
        Cancel
      </button>
      <button type="submit" class="login-btn">Login</button>
    </div>
  </form>
</div>
