$bg-color: #122a34;
$blur-wrap: rgba(254, 254, 254, 0.3);
$cancel-color: #591027;
$border-darkgray: darkgray;
$blue: #5474AA;
$header-details: #CF90A4;
$purple: #9d7c9f;
$light-blue: #9bbbde;
$pink: #cf90a4;
$beige: #ab858a;



