<app-header></app-header>
<div class="msh-page-container">
    <div class="msh-btn-wrap">
        <button class="back-btn" (click)="backToHomePage()">Back</button>
        <button class="create-btn" (click)="openMeasurementEditDialog()">
      Create
    </button>
    </div>

    <div class="msh-table-wrap">
        <table>
            <tr>
                <th class="left-border">Date</th>
                <th>Weight</th>
                <th>Chest</th>
                <th>Waist</th>
                <th>Hips</th>
                <th>Biceps</th>
                <th class="msh-img">Image</th>
                <th>Edit</th>
                <th class="right-border">Delete</th>
            </tr>

            <tr *ngFor="let measurement of measurements">
                <td class="left-border">{{measurement?.date}}</td>
                <td>{{ measurement?.weight }}</td>
                <td>{{ measurement?.chest }}</td>
                <td>{{ measurement?.waist }}</td>
                <td>{{ measurement?.hips }}</td>
                <td>{{ measurement?.biceps }}</td>
                <td>
                    <mat-icon color="primary" (click)="openPhoto(measurement.photoUrl)" class="material-icons">photo_camera</mat-icon>
                </td>
                <td>
                    <mat-icon color="primary" (click)="openMeasurementEditDialog(measurement._id)" class="material-icons">settings</mat-icon>
                </td>
                <td class="right-border">
                    <mat-icon color="primary" (click)="deleteMeasurement(measurement._id)" class="material-icons">delete</mat-icon>
                </td>
            </tr>
        </table>
    </div>
</div>