@import '../../../../assets/variables.scss';
.msh-page-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .msh-btn-wrap {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2rem;
        .create-btn {
            margin-right: 3.5rem;
            padding: 0.5rem 2.5rem;
            border: none;
            border-radius: 2rem;
            font-size: 1rem;
            letter-spacing: 1px;
            color: white;
            background-color: $light-blue;
            &:hover {
                cursor: pointer;
                padding: 0.5rem 2.8rem;
            }
        }
        .back-btn {
            margin-right: 1.5rem;
            padding: 0.5rem 2.5rem;
            border: none;
            border-radius: 2rem;
            font-size: 1rem;
            letter-spacing: 1px;
            color: white;
            background-color: $pink;
            &:hover {
                cursor: pointer;
                padding: 0.5rem 2.8rem;
            }
        }
    }
    .msh-table-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        table {
            border: none;
            th {
                padding: 0.8rem 2.5rem;
                background-color: $purple;
                font-size: 1.2rem;
                font-weight: 0;
                letter-spacing: 1px;
                color: white;
            }
            td {
                background-color: $light-blue;
                text-align: center;
                color: white;
                padding: 0.4rem 2.5rem;
                font-size: 1.1rem;
                .material-icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .left-border {
                border-radius: 1rem 0 0 1rem;
            }
            .right-border {
                border-radius: 0 1rem 1rem 0;
            }
        }
    }
}